In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import streamlit as st

In [2]:
pre_req_data = pd.read_csv("Pre_Req.csv")
pre_req_data

,Major,Course,Concentration,Concentration 2
0,applied-mathematics,MATH 112,Math and Statistics,NaN
1,applied-mathematics,MATH 115,Math and Statistics,NaN
2,applied-mathematics,MATH 120,Math and Statistics,NaN
3,applied-mathematics,ENAS 151,Math and Statistics,NaN
4,applied-mathematics,MATH 222,Math and Statistics,NaN
...,...,...,...,...
329,russian-east-european-studies,RUSS 140,Arts and Humanities,NaN
330,russian-east-european-studies,RUSS 142,Arts and Humanities,NaN
331,russian-east-european-studies,RUSS 145,Arts and Humanities,NaN
332,statistics,MATH 120,Math and Statistics,NaN
333,statistics,ENAS 151,Math and Statistics,NaN

In [4]:
np.unique(pre_req_data["Concentration"])

array(['Arts and Humanities', 'Biological and Biomedical Sciences',
       'Computer and Information Sciences', 'Engineering',
       'Math and Statistics', 'Physical Sciences', 'Social Science',
       'Social Sciences'], dtype=object)

In [14]:
ind, = np.where(pre_req_data["Concentration"] == "Arts and Humanities")
ind

array([ 23,  93,  94,  95, 292, 326, 327, 328, 329, 330, 331])

In [16]:
pre_req_data.iloc[ind]

,Major,Course,Concentration,Concentration 2
23,art,ART 111,Arts and Humanities,NaN
93,computing-arts,CPSC 100,Arts and Humanities,Computer and Information Sciences
94,computing-arts,CPSC 112,Arts and Humanities,Computer and Information Sciences
95,computing-arts,ART 111,Arts and Humanities,Computer and Information Sciences
292,philosophy,PSYC 110,Arts and Humanities,NaN
326,russian,RUSS 140,Arts and Humanities,NaN
327,russian,RUSS 142,Arts and Humanities,NaN
328,russian,RUSS 145,Arts and Humanities,NaN
329,russian-east-european-studies,RUSS 140,Arts and Humanities,NaN
330,russian-east-european-studies,RUSS 142,Arts and Humanities,NaN
331,russian-east-european-studies,RUSS 145,Arts and Humanities,NaN

In [17]:
primary_con = ["Computer and Information Sciences", "Arts and Humanities"]

In [38]:
indexes = []
for concentration in primary_con:
    ind, = np.where(pre_req_data["Concentration"] == concentration)
    indexes.append(ind)
indexes = np.unique(np.concatenate((indexes),0))
indexes

array([ 23,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95, 292,
       326, 327, 328, 329, 330, 331])

In [51]:
np.array(pre_req_data["Major"].iloc[np.unique(indexes)].drop_duplicates())

array(['art', 'computer-science-economics', 'computer-science-psychology',
       'computing-arts', 'philosophy', 'russian',
       'russian-east-european-studies'], dtype=object)

In [53]:
np.array(pre_req_data["Course"].iloc[np.unique(indexes)].drop_duplicates())

array(['ART\xa0111', 'CPSC 100', 'CPSC 112', 'MATH 112', 'ECON 110',
       'ECON 115', 'ECON 111', 'ECON 116', 'PSYC\xa0110', 'CPSC\xa0100',
       'CPSC\xa0112', 'PSYC 110', 'RUSS 140', 'RUSS 142', 'RUSS 145'],
      dtype=object)

In [54]:
pd.DataFrame(np.array(pre_req_data["Course"].iloc[np.unique(indexes)].drop_duplicates()), columns = ['Courses'])

     Courses
0    ART 111
1   CPSC 100
2   CPSC 112
3   MATH 112
4   ECON 110
5   ECON 115
6   ECON 111
7   ECON 116
8   PSYC 110
9   CPSC 100
10  CPSC 112
11  PSYC 110
12  RUSS 140
13  RUSS 142
14  RUSS 145